
<aside class="sidebar" th:fragment="sidebar">
  <div class="sidebar-header bg-dark">
    <span class="fs-5">Administração</span><br/>
  </div>

  <div class="buttons-container" >
    <a href="/admin" class="btn btn-outline-secondary">Listar Cadastrados</a>
    <a href="/admin/alunos/cadastro" class="btn btn-outline-secondary">Cadastrar Aluno</a>
    <a href="/admin/professores/cadastrar" class="btn btn-outline-secondary">Cadastrar Professor</a>
    <a href="/admin/turmas/cadastro" class="btn btn-outline-secondary">Cadastrar Turma</a>
    <a href="/admin/disciplinas/cadastro" class="btn btn-outline-secondary">Cadastrar Disciplina</a>
  </div>
</aside>

