<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head('Entrar')"></head>
<body>
<main>
    <header th:replace="fragments :: header"></header>

    <div class="container mt-3 login">
        <h2>Bem vindo(a)</h2>
        <form name="f" class="mt-3" th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="username" name="username" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</main>
</body>
</html>