<div class="container mt-3" th:fragment="form(title, action)">
  <h1 th:text="${title}">Cadastro de Professores</h1>
  <form th:object="${teacherDto}" th:action="@{${action}}" method="post">
    <div class="mb-3">
      <input type="hidden" th:field=*{id}>
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" th:field="*{name}" required>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Idade</label>
      <input type="number" class="form-control" th:field="*{age}" required>
    </div>
    <h5>Associar disciplinas:</h5>
    <div th:each="subject, itemStat : ${subjectList}">
      <input type="checkbox" th:value="${subject.name}" th:field="*{courseSubjectList[__${itemStat.index}__]}">
      <label th:text="${subject} != null ? ${subject.name} : 'Nenhuma disciplina cadastrada' ">DISCIPLINA</label>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>